<%- include('../partials/header') %>

    <h1>*<%= skill.skill %>*</h3>
    <!-- <h3>Have you mastered this skill? <%= skill.mastered ? 'Yes' : 'Not Yet' %></h3> -->
    <h2>Have you mastered this skill? </h3>
    <h3><%= skill.mastered ? 'Yes' : 'Not Yet' %></h2>
    <h4>Would you like to delete this skill?</h4>
   <div>
    
    <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">Delete Skill?</button>
   </div>
    
<%- include('../partials/footer') %>